@import "tailwindcss";

@theme{
      --font-inter: "Inter", sans-serif;

}

@utility container{
    @apply w-292.5 mx-auto;
}

@utility commonBtn{
    @apply px-12.5 py-5 bg-white rounded-4xl text-black
}


details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}